<% unless comment.archived? %>
<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>

<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>

<%= button_to "Delete Comment", article_comment_path(@article, comment), data: { turbo_confirm: "Are you sure?" }, method: :delete, style: "margin-bottom: 20px;" %>

<% end %>